{% extends 'main.html' %}
{% block title %}Новый пост{% endblock title %}

{% block body %}
<div class="container mx-auto p-3 w-50">
    <div class="card rounded-4 shadow-none bg-body-tertiary rounded text-body-emphasis">
  <div class="card-body">
    <h5 class="card-title text-center h4">Новый пост.</h5>
  </div>
</div>
</div>

<div class="container mx-auto">
<!--    {% if error %}-->
<!--        <p class="card-text text-center h5">Неправильный логин или пароль.</p>-->
<!--    {% endif %}-->
    <form class="border rounded px-5 py-4 bg-gradient bg-body-tertiary text-body-emphasis shadow" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-outline-primary" type="submit">Опубликовать</button>
    </form>

</div>
{% endblock body %}