{% extends 'main.html' %}
{% block title %}Все посты{% endblock title %}

{% block body %}
{% load my_filters %}
<div class="container rounded-4 py-2 shadow bg-body-tertiary rounded text-body-emphasis">
    <div class="card">
  <div class="card-header bg-gradient bg-body-tertiary">Все посты</div>
      {% if posts %}
        {% for post in posts %}
            <div class="container p-4">
                <div class="card-body border rounded-4 bg-gradient shadow bg-body-tertiary text-body-emphasis">
                <h5 class="card-title">{{post.title|censor}}</h5>
                    <h6 class="fw-light"><a href="/account/?id={{post.author.user.id}}">{{post.author}}</a> Рейтинг статьи: {{post.rating}} {% if post.category %} <br> Категория: {{post.category}} {% endif %}</h6>
                <p class="card-text bg-body rounded">&nbsp{{post.text|censor}}</p>
                <div class="text-muted">{{post.post_time}} <br> Пост написан {{post.post_time|timesince}} назад</div>
                <a href="/post/{{post.id}}" class="btn btn-outline-primary">Продолжение</a>
            </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            <nav class="p-4">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item"><a class="page-link active">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

      {% else %}
        <div class="card-body">
                <h5 class="card-title">Пока новостей нет :)</h5>
            </div>
      {% endif %}
</div>
</div>
{% endblock body %}