{% extends 'main.html' %}
{% block title %}{{post.title}}{% endblock title %}

{% block body %}
{% load my_filters %}
<p></p>
<div class="container mx-auto">
  <div class="card">
  <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">
    <div class="row">
      <div class="col-4">{{post.author}} Рейтинг автора: {{post.author.user.rating}}</div>
      {% if request.user == post.author.user %}
      <div class="col">
        <div class="text-end">
            <a class="btn btn-outline-primary h-25" href="/post/post_edit/{{ post.id }}">Редактировать статью</a>
        </div>
      </div>
      {% endif %}
  </div>
    </div>
  <div class="container p-3">
    <div class="card-body rounded-4">
      <h5 class="card-title text-body-emphasis">{{post.title|censor}}</h5>
      <div class="card-text p-1">
        <textarea class="form-control" cols="30" rows="20" wrap="soft" readonly>{{post.text|censor}}</textarea>
      </div>
      <div class="row">
          <div class="col">
              <div class="card">
                  <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Информация о статье</div>
                  <div class="card-body">
                      <h6 class="card-title">Тип статьи:{% if post.type == "N" %} Новость {% else %} Статья {% endif %}</h6>
                      <div class="text-muted">
                      Рейтинг статьи: {{post.rating}} <br> {{post.post_time}} <br> Пост написан {{post.post_time|timesince}} назад
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Категории</div>
                <div class="card-body">

                        {% for cat in object.category %}
                            <div class="p-2">
                                <div class="p-2 border rounded-4">
                                    <label for="id_{{ cat.category_id }}">{{ cat.category_id__name }}</label>
                                    {% if request.user.is_authenticated %}
                                        {% if cat.category_id in object.user_subs %}
                                                <button class="btn" id="id_{{ cat.category_id }}" name="unsubs_category" onclick="return unsubscribe('{{cat.category_id}}')">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                                          <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                        </svg>
                                                </button>
                                        {% else %}
                                            <button class="btn rounded" id="id_{{ cat.category_id }}" name="subs_category" onclick="return subscribe('{{cat.category_id}}')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                                                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                    </svg>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                </div>
            </div>
          </div>
      </div>
  </div>
  </div>
  <div class="card-footer text-muted bg-gradient bg-body-tertiary text-body-emphasis">
    {% if not post_activity %}
    {% if not request.user == post.author.user %}
        Оцените статью! Для автора и нашего сайта это очень важно!!!
    {% if user.is_authenticated %}
      <form method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{post.id}}">
      <div class="btn-group">
        <button class="btn btn-outline-success" name="post" value="+" type="submit">Лайк!</button>
        <button class="btn btn-outline-danger" name="post" value="-" type="submit">Дизлайк!</button>
      </div>
    </form>
    {% else %}
      <div class="text-muted">
        Оценивать статью могут только авторизованные пользователи.
      </div>
    {% endif %}
    {% endif %}
    {% else %}
    Спасибо за вашу оценку!
    {% endif %}
  </div>
</div>
  <p></p>
<div class="card">
  <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">
      Коментарии
  </div>
  <div class="container p-3">
    {% if request.user.is_authenticated %}
      <form action="{% url 'comment_submit' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{post.id}}">
      <label class="form-label text-body-emphasis">Напишите свой комментарий сюда.</label>
      <textarea class="form-control" name="text" rows="3"></textarea>
      <p></p>
      <button type="submit" class="btn btn-outline-primary">Комментировать</button>
    {% else %}
      <div class="text-muted">
        Комментировать статью могут только авторизованные пользователи.
      </div>
    {% endif %}
    </form>
  </div>
<div class="border rounded-down-3">
   {% if comments %}
    {%for comment in comments %}
      <div class="container p-3">
        <div class="card-body border rounded-4 bg-gradient shadow bg-body-tertiary text-body-emphasis">
        <h5 class="card-title rounded-right rounded bg-body w-25 border p-1">
          <a href="/account/profile/{{comment.user__id}}">{{comment.user__username}}</a>
        </h5>
          <div class="card-text border bg-body rounded p-1">{{comment.text|censor}}</div>
          <div class="text-muted">Рейтинг: {{comment.rating}} <br> Комментарий написан {{comment.date|timesince}} назад</div>
        {% if request.user.is_authenticated and request.user.id != comment.user__id %}
          {% if comment.id not in comment_activity %}
            <form method="post">
            {% csrf_token %}
                <input type="hidden" name="id" value="{{comment.id}}">
                <div class="btn-group">
                  <button class="btn btn-outline-success" name="comment" value="+" type="submit">Лайк!</button>
                  <button class="btn btn-outline-danger" name="comment" value="-" type="submit">Дизлайк!</button>
                </div>
              </form>
          {% else %}
          <div class="text">Вы уже оценили данный комментарий. Спасибо за Вашу активность!</div>
          {% endif %}
          {% endif %}
      </div>
      </div>
    {% endfor %}
  {% else %}
      <div class="container p-3">
        <div class="card-body rounded-4">
        <h5 class="card-title rounded-2 w-50">Комментариев нет.</h5>
      </div>
      </div>
  {% endif %}
</div>
</div>
</div>
{% load static %}
<script src="{% static 'ajax/btn_click.js' %}"></script>
{% endblock body %}