{% extends 'main.html' %}
{% block title %}{{post.title}}{% endblock title %}

{% block body %}
{% load humanize %}
<p></p>
<div class="container mx-auto">
  <div class="card">
  <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">
      {{post.author}} Рейтинг автора: {{post.author.rating}}
  </div>
  <div class="container p-3">
    <div class="card-body rounded-4">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text text-body-emphasis">{{post.text}}</p>
      <div class="text-muted">Рейтинг статьи: {{post.rating}} <br> Пост написан {{post.post_time|timesince}} назад</div>
  </div>
  </div>
  <div class="card-footer text-muted bg-gradient bg-body-tertiary text-body-emphasis">
    {% if not post_activity %}
    {% if not request.user == post.author.user %}
        Оцените статью! Для автора и нашего сайта это очень важно!!!
    {% if user.is_authenticated %}
      <form method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{post.id}}">
      <div class="btn-group">
        <button class="btn btn-outline-success" name="post" value="+" type="submit">Лайк!</button>
        <button class="btn btn-outline-danger" name="post" value="-" type="submit">Дизлайк!</button>
      </div>
    </form>
    {% else %}
      <div class="text-muted">
        Оценивать статью могут только авторизованные пользователи.
      </div>
    {% endif %}
    {% endif %}
    {% else %}
    Спасибо за вашу оценку!
    {% endif %}
  </div>
</div>
  <p></p>


<div class="card">
  <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">
      Коментарии
  </div>

  <div class="container p-3">
    {% if request.user.is_authenticated %}
      <form action="{% url 'comment_submit' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{post.id}}">
      <label class="form-label text-body-emphasis">Напишите свой комментарий сюда.</label>
      <textarea class="form-control" name="text" rows="3"></textarea>
      <p></p>
      <button type="submit" class="btn btn-outline-primary">Комментировать</button>
    {% else %}
      <div class="text-muted">
        Комментировать статью могут только авторизованные пользователи.
      </div>
    {% endif %}

    </form>
  </div>

<div class="border rounded-down-3">
   {% if comments %}
    {%for comment in comments %}
      <div class="container p-3">
        <div class="card-body border rounded-4 bg-gradient shadow bg-body-tertiary text-body-emphasis">
        <h5 class="card-title rounded-right w-25 border">{{comment.user}}</h5>
        <p class="card-text border rounded">{{comment.text}}</p>
          <div class="text-muted">Рейтинг: {{comment.rating}} <br> Комментарий написан {{comment.date|timesince}} назад</div>
        {% if request.user.is_authenticated and request.user != comment.user %}
            <form method="post">
            {% csrf_token %}
                <input type="hidden" name="id" value="{{comment.id}}">
                <input type="hidden" name="post_id" value="{{post.id}}">
                <div class="btn-group">
                  <button class="btn btn-outline-success" name="comment" value="+" type="submit">Лайк!</button>
                  <button class="btn btn-outline-danger" name="comment" value="-" type="submit">Дизлайк!</button>
                </div>
              </form>
            {% endif %}

      </div>
      </div>
    {% endfor %}
  {% else %}
      <div class="container p-3">
        <div class="card-body rounded-4">
        <h5 class="card-title rounded-2 w-50">Комментариев нет.</h5>
      </div>
      </div>
  {% endif %}
</div>


</div>
</div>
{% endblock body %}