{% extends 'main.html' %}
{% block title %}{{user.username}} - Личный кабинет{% endblock title %}

{% block body %}
<div class="container mx-auto py-5">
      <div class="card shadow">
          <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">
              Личный кабинет   {% if author %} Рейтинг автора: {{author.rating}} {% endif %}
          </div>
          <div class="card-body container">
              <div class="row">
                  <div class="col">
                      {% if request.user == user %}
                            <form method="post">
                              Имя пользователя:
                              <input class="form-control w-50 shadow" type="text" name="username" value="{{user.username}}">
                              Имя
                              <input class="form-control w-50 shadow" type="text" name="first_name" value="{% if user.first_name %}user.first_name{% else %}Не указано{% endif %}">
                              Фамилия
                              <input class="form-control w-50 shadow" type="text" value="{% if user.second_name %}user.second_name{% else %}Не указано{% endif %}">
                              Почта
                              <input class="form-control w-50 shadow" type="email" name="email" value="{% if user.email %}user.email{% else %}Не указано{% endif %}">
                              Для подверждения изменений, введите пароль <br>
                              {% if error == 'password' %} <br> Неправильный пароль. {% endif %}
                              <input class="form-control w-50 shadow" type="password">
                          </form>
                          {% if not author %}
                            <form method="post">
                                {% csrf_token %}
                              Хотите стать автором? Нет ничего проще! Просто нажмите на кнопку!<br>
                              <button class="btn btn-outline-success" name="author" value="+" type="submit">Хочу стать автором!</button>
                          </form>
                            {% endif %}
                      {% else %}
                              Имя пользователя:
                              <div class="text rounded border w-50 shadow">{{user.username}}</div>
                              Имя
                              <div class="text rounded border w-50 shadow">{% if user.first_name %} user.first_name {% else %} Не указано {% endif %}</div>
                              Фамилия
                              <div class="text rounded border w-50 shadow">{% if user.second_name %} user.second_name {% else %} Не указано {% endif %}</div>
                              Почта
                              <div class="text rounded border w-50 shadow">{% if user.email %} user.email {% else %} Не указано {% endif %}</div>
                        <div class="card">
                            <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Удаление аккаунта</div>
                            <div class="card-body container">
                                Внимание! Удаление безвозвратно!
                                <form method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger" value="delete_acc">Удаление аккаунта!</button>
                                </form>
                            </div>
                        </div>
                      {% endif %}
                  </div>
                  <div class="col-6 col-md-5">
                       {% if author %}
                          <div class="row">
                              <div class="card py-1 border-0">
                          <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Статьи</div>
                              {% if posts %}
                                  <div class="container rounded shadow overflow-y-auto py-2" style="height: 300px;">
                                {% for post in posts %}
                                    <div class="card-body border bg-gradient bg-body-tertiary text-body-emphasis py-2">
                                        <a class="card-title rounded-right nav-link w-75 bg-body rounded border h-4" href="/post/?id={{comment.post_id}}"> {{post.title}}</a>
                                        <p class="card-text border rounded bg-body">{{post.text}}</p>
                                        <small class="text-muted">Рейтинг: {{post.rating}} <br> Пост написан {{post.post_date|timesince}} назад</small>
                                        </div>
                                {% endfor %}
                                      </div>
                              {% else %}
                                    <div class="card-body rounded shadow">
                                        <div class="container">
                                            <div class="card-body rounded-4">
                                            <h5 class="card-title rounded-2 w-75">Постов нет.</h5>
                                          </div>
                                          </div>
                                        </div>
                              {% endif %}
                      {% endif %}
                          </div>

                      <div class="row">
                          <div class="card py-1 border-0">
                          <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Комментарии</div>
                              {% if comments %}
                                  <div class="container rounded shadow overflow-y-auto py-2" style="height: 300px">
                                {% for comment in comments %}
                                    <div class="card-body border bg-gradient bg-body-tertiary text-body-emphasis py-2">
                                        <a class="card-title rounded-right nav-link w-75 bg-body rounded border h-4" href="/post/?id={{comment.post_id}}"> {{comment.post}}</a>
                                        <p class="card-text border rounded bg-body">{{comment.text}}</p>
                                        <small class="text-muted">Рейтинг: {{comment.rating}} <br> Комментарий написан {{comment.date|timesince}} назад</small>
                                        </div>
                                {% endfor %}
                                      </div>
                              {% else %}
                                    <div class="card-body rounded shadow">
                                        <div class="container">
                                            <div class="card-body rounded-4">
                                            <h5 class="card-title rounded-2 w-50">Комментариев нет.</h5>
                                          </div>
                                          </div>
                                        </div>
                              {% endif %}
                      </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="card-footer text-muted bg-gradient bg-body-tertiary text-body-emphasis">
            <p></p>
          </div>
      </div>
</div>

{% endblock body %}




<!--