{% extends 'main.html' %}
{% block title %}Личный кабинет{% endblock title %}

{% block body %}
{% load my_filters %}
<div class="container mx-auto py-5">
    <div class="card shadow">
        <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">
            Личный кабинет   {% if author %} Рейтинг автора: {{object.rating}} {% else %} Рейтинг пользователя: {{object.rating}} {% endif %}
            {% if request.user.username == 'admin' and owner %}
                <a href="/admin/">Админ панель</a>
            {% endif %}
        </div>
        <div class="card-body container">
            <div class="row mx-auto">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Данные пользователя</div>
                        <div class="card-body">
                            {% if request.user == object %}
                                <form method="post">{% csrf_token %}
                                    Имя пользователя:
                                    <input class="form-control mb-3" type="text" name="username" value="{{object.username}}">
                                    Имя
                                    <input class="form-control mb-3" type="text" placeholder="{% if not object.first_name %}Не указано{% endif %}" value="{% if object.first_name %}{{object.first_name}}{% endif %}" name="first_name">
                                    Фамилия
                                    <input class="form-control mb-3" type="text" placeholder="{% if not object.last_name %}Не указано{% endif %}" value="{% if object.last_name %}{{object.last_name}}{% endif %}" name="last_name">
                                    Почта
                                    <input class="form-control mb-3" type="email" placeholder="{% if not object.email %}Не указано{% endif %}" value="{% if object.email %}{{object.email}}{% endif %}" name="email">
                                    <div class="card">
                                    <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Для подверждения изменений, введите пароль</div>
                                        <div class="card-body">
                                            {% if error == 'password' %} Неправильный пароль. {% endif %}
                                            <input class="form-control mb-3" type="password" name="password">
                                            <button class="btn btn-outline-success" type="submit" value="+" name="change_acc">Подвердить</button>
                                    </div>
                                    </div>
                                </form>
                                    <p></p>
                                    {% if not author %}
                                    <div class="card gy-3">
                                        <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Стать автором!</div>
                                        <div class="card-body">
                                            <form method="post">
                                                {% csrf_token %}
                                                Хотите стать автором? Нет ничего проще! Просто нажмите на кнопку!<br>
                                                <button class="btn btn-outline-success" name="author" value="+" type="submit">Хочу стать автором!</button>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% if request.user.username != 'admin' %}
                                    <div class="card py-3 border-0">
                                        <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Удаление аккаунта</div>
                                        <div class="card-body container border">
                                                Внимание! Удаление безвозвратно!
                                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteaccount">Удаление аккаунта!</button>
                                                <div class="modal fade" id="deleteaccount" data-value="" tabindex="-1" aria-labelledby="test" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Вы уверены, что хотите удалить аккаунт?</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                После потверждения, аккаунт будет безвозвозвратно удален!<br>Вы уверены?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                                                                <form class="form" method="post">{% csrf_token %}
                                                                    <button class="btn btn-outline-danger" name="delete_acc" value="+">Удаление аккаунта!</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% else %}
                                Имя пользователя:
                                <div class="text rounded border mb-3">{{object.username}}</div>
                                Имя
                                <div class="text rounded border mb-3">{% if object.first_name %}{{object.first_name}}{% else %}Не указано{% endif %}</div>
                                Фамилия
                                <div class="text rounded border mb-3">{% if object.last_name %}{{object.last_name}}{% else %}Не указано{% endif %}</div>
                                Почта
                                <div class="text rounded border mb-3">{% if object.email %}{{object.email}}{% else %}Не указано{% endif %}</div>
                                {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-6">
                {% if author %}
                <div class="row">
                    <div class="card border-0">
                        <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Статьи
                        {% if request.user == object %}<a class="text-end" href="/post/new_post">Создать новую статью</a>{% endif %}</div>
                        {% if posts %}
                        <div class="container rounded shadow overflow-y-auto py-2" style="height: 300px">
                            {% for post in posts %}
                            <div class="card-body border bg-gradient bg-body-tertiary text-body-emphasis rounded my-2 py-2">
                                <a class="card-title rounded-right nav-link bg-body w-75 rounded border h-4" href="/post/{{post.id}}">&nbsp{{post.title|censor}}</a>
                                <p class="card-text border rounded bg-body">&nbsp{{post.text|censor}}</p>
                                <div class="row">
                                <small class="col text-muted">Рейтинг: {{post.rating}} <br> Пост написан {{post.post_time}}</small>
                                    {% if request.user == object %}
                                    <div class="col"><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletepost{{ post.pk }}">Удалить статью</button></div>
                                        <div class="modal fade" id="deletepost{{ post.pk }}" tabindex="-1" aria-labelledby="test" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Вы уверены, что хотите удалить статью?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        После потверждения, статья будет безвозвозвратно удалена!<br>Вы уверены?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                                                        <form class="form" method="post">{% csrf_token %}
                                                            <button class="btn btn-outline-danger" name="delete_post" value="{{post.pk}}">Удалить статью.</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="card-body rounded shadow">
                            <div class="container">
                            <div class="card-body rounded-4">
                                <h5 class="card-title rounded-2 w-75">Постов нет.</h5>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="row py-3">
                    <div class="card border-0">
                    <div class="card-header bg-gradient bg-body-tertiary text-body-emphasis">Комментарии</div>
                    {% if comments %}
                    <div class="container rounded shadow overflow-y-auto py-2" style="height: 300px">
                        {% for comment in comments %}
                        <div class="card-body border bg-gradient bg-body-tertiary text-body-emphasis rounded my-2 py-2">
                            <a class="card-title rounded-right nav-link w-75 bg-body rounded border h-4" href="/post/?id={{comment.post_id}}">&nbsp{{comment.post|censor}}</a>
                            <p class="card-text border rounded bg-body">{{comment.text|censor}}</p>
                            <small class="text-muted">Рейтинг: {{comment.rating}} <br> Комментарий написан {{comment.date|timesince}} назад</small>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="card-body rounded shadow">
                        <div class="container">
                            <div class="card-body rounded-4">
                            <h5 class="card-title rounded-2 w-50">Комментариев нет.</h5>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted bg-gradient bg-body-tertiary text-body-emphasis">
    <p></p>
    </div>
</div>
{% endblock body %}