{% extends 'main.html' %}
{% block title %}Авторы{% endblock title %}

{% block body %}
<div class="container rounded-4 py-3 shadow bg-body-tertiary rounded text-body-emphasis">
    <div class="card">
  <div class="card-header bg-gradient bg-body-tertiary">Список авторов</div>
        <div class="card bg-gradient bg-body-tertiary md-auto py-4 my-4 mx-4">
            {% if authors %}
            <div class="text-center">Сортировка</div>
            <div class="container">
                <form method="post">{% csrf_token %}
                    <button class="btn btn-outline-primary {% if ordering_type == 'user' %} active {% endif %}" name="order_by" value="user">По алфавиту</button>
                    <button class="btn btn-outline-primary {% if ordering_type == '-rating' %} active {% endif %}" name="order_by" value="-rating">По рейтингу</button>
                </form>
            </div>
        </div>
        {% for author in authors %}
            <div class="container p-3">
                <div class="card-body border rounded-4 bg-gradient shadow bg-body-tertiary text-body-emphasis">
                <h5 class="card-title">{{author.user.username}}</h5>
                    <h6 class="fw-light">Рейтинг автора: {{author.rating}}</h6>
                    <h6 class="fw-light">
                        {% for authorr, count in posts_count %}
                            {% if author == authorr %}
                                Колличество постов: {{count}}
                            {% endif %}
                        {% endfor %}
                    </h6>
                <p class="card-text"></p>
                <a href="/account/?id={{author.user.id}}" class="btn btn-outline-primary">Карточка автора</a>
            </div>
            </div>
        {% endfor %}
      {% else %}
        <div class="card-body">
                <h5 class="card-title">Пока авторов нет :)</h5>
            </div>
      {% endif %}
</div>
</div>
{% endblock body %}