<!doctype html>
<html lang="ru" data-bs-theme="dark" class="p-3 text-body bg-body">
<head>
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-expand-md rounded-bottom-3 bg-gradient shadow bg-body-tertiary rounded">
        <div class="container-fluid">
            <a class="navbar-brand btn me-2 btn-outline-primary {% if page == 'home' %} active {% endif %}" href="/">Главная</a>
            <a class="btn btn-outline-primary me-2 {% if page == 'posts' %} active {% endif %}" aria-current="page" href="/post/list">Посты</a>
            <a class="btn btn-outline-primary me-2 {% if page == 'authors' %} active {% endif %}" aria-current="page" href="/authors">Авторы</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary me-2 {% if page == 'search' %} active {% endif %}" aria-current="page" href="/post/search">Поиск статьи</a>
                        </li>
                    </ul>
                    <div class="d-flex mx-auto"></div>
                    <div class="d-flex justify-content-end">
                        {% if request.user.is_authenticated %}
                            <div class="d-flex">
                                <div class="text-center p-2">Здравствуй {{request.user}}!</div>
                                <div class="px-1"><a class="btn btn-outline-primary p-2" aria-current="page" href="/account/profile/{{ request.user.pk }}">Личный кабинет</a></div>
                                <a class="btn btn-outline-danger" href="{% url 'logout' %}">Выход</a>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <button class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#loginform">Логин</button>
                                <a class="btn btn-primary" href="{% url 'signup' %}">Регистрация</a>
                                {% include 'account/modal_login.html' %}
                                <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                                crossorigin="anonymous"></script>
                                <script src="{% static 'ajax/ajax_login.js' %}"></script>
                            </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </nav>
</div>
    {% block body %}
    {% endblock body %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>