<!doctype html>
<html lang="ru" data-bs-theme="dark" class="p-3 text-body bg-body">
<head>
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-md rounded-bottom-3 bg-gradient shadow bg-body-tertiary rounded">
        <div class="container-fluid">
            <a class="navbar-brand btn me-2 btn-outline-primary {% if page == 'home' %} active {% endif %}" href="/">Главная</a>
            <a class="btn btn-outline-primary me-2 {% if page == 'posts' %} active {% endif %}" aria-current="page" href="/post/list">Посты</a>
            <a class="btn btn-outline-primary me-2 {% if page == 'authors' %} active {% endif %}" aria-current="page" href="/authors">Авторы</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary me-2 text-nowrap {% if page == 'search' %} active {% endif %}" aria-current="page" href="/post/search">Поиск статьи</a>
                        </li>
                    </ul>
                    <div class="d-flex mx-auto"></div>
                    <div class="d-flex justify-content-end">
                        {% if request.user.is_authenticated %}
                            <div class="d-flex">
                                <div class="text-center text-nowrap p-2">Здравствуй {{request.user}}!</div>
                                <div class="px-1"><a class="btn btn-outline-primary p-2 text-nowrap" aria-current="page" href="/account/{{request.user.id}}">Личный кабинет</a></div>
                                <div class="px-1"><a class="btn btn-outline-danger p-2" aria-current="page" href="{% url 'exit' %}">Выход</a></div>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <button class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#loginform">Логин</button>
                                        <div class="modal fade" id="loginform" tabindex="-1" aria-labelledby="test" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Авторизация</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                    </div>
                                                    <form action="/account/login/" method="post">{% csrf_token %}
                                                    <div class="modal-body">
                                                        <label class="form-label" for="modallogin">Логин</label>
                                                        <input class="form-control" type="text" name="username" id="modallogin" required>
                                                        <label class="form-label" for="modalpass">Пароль</label>
                                                        <input class="form-control" id="modalpass" type="password" name="password" required>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-outline-danger" data-bs-dismiss="modal">Отмена</button>
                                                        <button class="btn btn-outline-primary" type="submit">Авторизация</button>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                <a class="btn btn-primary" href="/account/register">Регистрация</a>
                            </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </nav>
</div>
    {% block body %}
    {% endblock body %}
</body>
</html>